<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Favicons -->
    <link href="/img/logo.png" rel="icon">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/css/bootstrap-fileinput/fileinput.css" rel="stylesheet">
    <link href="/css/bootstrap-fileinput/themes/explorer-fas/theme.css" rel="stylesheet">

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap-fileinput/fileinput.js"></script>
    <script src="/js/bootstrap-fileinput/themes/fas/theme.js"></script>
    <script src="/js/bootstrap-fileinput/themes/explorer-fas/theme.js"></script>
    <script src="/js/bootstrap-fileinput/locales/zh.js"></script>
    <script src="/js/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/js/bootbox.min.js"></script>
    <style>
    </style>
    <title>导出数据</title>

</head>
<body>
<div class="container" style="margin-top:100px; min-height: 800px;">
    <form action="/exportData" method="get">
        <div class="row">
            <div class="col-4 offset-4">
                <div class="form-inline">
                    <label for="tasks">选择标注任务：</label>
                    <select class="form-control" id="tasks" name="task">
                        <option th:each="task: ${tasks}" th:value="${task.taskname}" th:text="${task.taskname}">无</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="text-align: center; margin: 20px;">
            <button type="submit" class="btn btn-primary btn-lg">导出数据</button>
        </div>
    </form>
</div>
</body>
</html>
