<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>标注平台登录页面</title>
    <!--<meta name="viewport"-->
    <!--content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">-->
    <meta name="description" content="Free HTML5 Template by FreeHTML5.co"/>
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"/>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/messages_zh.min.js"></script>
    <script src="/js/bootbox.min.js"></script>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="css/animate/animate.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js" type="text/javascript"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js" type="text/javascript"></script>
    <![endif]-->


    <script>
        $.validator.setDefaults({
            submitHandler: function () {
                ajaxLogin();
            }
        });

        $(function () {
            validateRule();
        });

        function validateRule() {
            $("#loginForm").validate({
                rules: {
                    username: {
                        required: true,
//                        minlength: 2
                    },
                    password: {
                        required: true,
//                        minlength: 5
                    }
                },
                messages: {
                    username: {
                        required: " *请输入用户名* ",
//                        minlength: "用户名长度太短！"
                    },
                    password: {
                        required: " *请输入密码* ",
//                        minlength: "密码长度太短"
                    }
                }
            });
        }

        function ajaxLogin() {
            $.ajax({
                type: "POST",
                url: "/login",
                cache: false,
                data: $('#loginForm').serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.code == 200) {
                        window.location.href = data.data;
                    } else {
                        bootbox.alert({
                            title: '错误',
                            className: 'rubberBand animated',
                            message: data.message
                        });
                    }
                },
                error: function () {
                    bootbox.alert({
                        title: 'Error',
                        className: 'rubberBand animated',
                        message: 'Unknown Error!'
                    });
                }
            });
        }
    </script>
    <style>
        .error {
            color: red;
            /*font-size: 5px;*/
        }
    </style>

</head>
<body class="style-3">

<div class="container">
    <div id="logo" class="pull-left">
        <img src="/img/login_title.png" title="" height="100" width="200"/></img>
    </div>
    <div class="row">
        <div class="col-6">
            <img src="/img/login_logo.png" title="" class="img-fluid"/></img>
        </div>
        <div class="col-4">
            <!-- Start Sign In Form -->
            <form id="loginForm" enctype="multipart/form-data" class="fh5co-form animate-box" data-animate-effect="fadeInRight">
                <h2 class="text-center">欢迎登录标注平台</h2>
                <div class="form-group">
                    <label for="username" class="sr-only">用户名</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="用户名" th:value="${username}" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">密码</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="密码" th:value="${password}" autocomplete="off">
                </div>
                <div class="form-group">
                    <!--checkbox不选择则不能提交-->
                    <input type="hidden" name="remember" value="0">
                    <label for="remember"><input type="checkbox" id="remember" name="remember" value="1" th:checked="${remember} == checked"> 记住我</label>
                </div>
                <div class="form-group">
                    还没注册？<a href="/register">注册</a>
                        <!--| <a href="forgot3.html">忘记密码？</a>-->
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">登录</button>
                </div>
            </form>
            <!-- END Sign In Form -->
        </div>
    </div>
</div>
</body>
</html>

