<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/messages_zh.min.js"></script>
    <script src="/js/bootbox.min.js"></script>

    <style>
        .login_box{
            /*width: 30%;*/
            /*height: auto;*/
            /*background-color: #ffffff;*/
        }

    </style>
    <script>
        $.validator.setDefaults({
            submitHandler: function() {
                ajaxRegister();
            }
        });

        $(function () {
            validateRule();
        });

        function validateRule(){
            $("#registerForm").validate({
                rules: {
                    username: {
                        required: true,
                        // minlength: 6
                        // rangelength: [5, 10]
                    },
                    password: {
                        required: true,
                        minlength: 6
                        // rangelength: [5, 10]
                    },
                    confirm_pwd: {
                        required: true,
                        minlength: 6,
                        equalTo: "#password"
                        // rangelength: [5, 10]
                    }
                },
                messages: {
                    username: {
                        required: "*请输入用户名*",
                        minlength: "用户名长度太短！"
                    },
                    password: {
                        required: "*请输入密码*",
                        minlength: "密码长度太短！"
                    },
                    confirm_pwd: {
                        required: "*请输入密码*",
                        minlength: "密码长度太短！",
                        equalTo: "两次输入的密码不一致！"
                    }
                }
            });
        }

        function ajaxRegister(){
            $.ajax({
                type: "POST",
                url: "/register",
                cache: false,
                data: $('#registerForm').serialize(),
                dataType: "json",
                success: function (data) {
                    if(data.code == 200){
                        bootbox.alert({
                            title: '提示',
                            className: 'rubberBand animated',
                            message: '恭喜你，注册成功！'
                        });
                        window.location.href = "/login";

                        // 通过调用 DOM 中的reset方法来重置表单
                        // $("#registerForm")[0].reset();
                    }else{
                        bootbox.alert({
                            title: '错误',
                            className: 'rubberBand animated',
                            message: data.message
                        });
                    }
                },
                error: function () {
                    bootbox.alert({
                        title: 'Error',
                        className: 'rubberBand animated',
                        message: 'Unknown Error!'
                    });
                }
            });
        }
    </script>

    <style>
        .error{
            color:red;
            /*font-size: 5px;*/
        }
    </style>
</head>
<body>
<div class="container">
    <div class="login_box">
        <h2>注册</h2>
        <form id="registerForm" class="form-group">
            <p>
                <label for="username">用户名：</label>
                <input type="text" id="username" name="username" class="form-control" />
            </p>
            <p>
                <label for="password">密码：</label>
                <input type="password" id="password" name="password" class="form-control" />
            </p>
            <p>
                <label for="confirm_pwd">确认密码：</label>
                <input type="password" id="confirm_pwd" name="confirm_pwd" class="form-control" />
            </p>
            <p>
                <button type="reset" class="btn btn-success">重置</button>
                <button type="submit" class="btn btn-primary">注册</button>
            </p>
        </form>
        <!--发短信，winphone系统无效-->
        <!--<a href="sms:15797768303">发短信了</a>-->
        <!--<a href="mailto:ncu151wlz@qq.com?subject=忘记密码">点击我发邮件</a>-->

        已有账号? <a href="/login">立即登录</a>
    </div>
</div>
</body>

</html>