<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>后台主页</title>
    <base th:href="@{/}">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/echarts/echarts.js"></script>
</head>
<body>
    <div class="container" style="min-height: 800px;">
        <h4>管理员须知</h4>
        <div>
            <b>为了保证数据标注平台的合理使用，管理员需要按要求管理后台</b>
            <ol>
                <li>务必要保证上传数据格式的正确性和规范性</li>
                <li>发布任务之后，需要创建团队才能生效！</li>
                <li>每个团队（成员）一次只参与一个标注任务！</li>
                <li>数据量很大时，可以分批次创建多个任务，分别让多个团队参与标注（任务名和团队名不要重复）！</li>
                <li>更多 <a href="https://github.com/tjuwlz/LabelingPlatform" target="_blank">平台细节</a></li>
            </ol>
        </div>

        <!--<div class="table-responsive">-->
            <!--<table class="table table-hover table-bordered">-->
                <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>标注员</th>-->
                        <!--<th>所属团队</th>-->
                        <!--<th>标注任务</th>-->
                        <!--<th>工作进度(完成量/总量)</th>-->
                    <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                    <!--<tr th:each="tempo: ${tempos}">-->
                        <!--<td th:text="${tempo.userName}"></td>-->
                        <!--<td th:text="${tempo.teamName}"></td>-->
                        <!--<td th:text="${tempo.taskName}"></td>-->
                        <!--<td>-->
                            <!--<span th:text="${#numbers.formatDecimal(100.0 * tempo.tagNum / tempo.corpusSize, 1, 2)}">0</span>%-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->

        <div id="main" style="width: 600px; height:400px;"></div>
    </div>

    <script type="text/javascript">
        $(function () {
            var myChart = echarts.init(document.getElementById('main'));
            $.ajax({
                url: "/tempoInfo",
                type: "post",
                success: function (data) {
                    var datar = usersData(data);
                    var option = {
                            // backgroundColor: "#f0f0f0",
                            color: ['#3398DB'],
                            tooltip: {
                                show: true
                            },
                            grid: {
                                left: '0%',
                                right: '0%',
                                bottom: '5%',
                                top: '7%',
                                height: '85%',
                                containLabel: true,
                                z: 22
                            },
                            title: {
                                text: datar.teamName + " 小组 " +datar.taskName + " 任务 " + "完成比",
                                textStyle: {
                                    color: "#000000",
                                    fontSize: 15
                                }
                            },
                            xAxis: [{
                                type: 'category',
                                gridIndex: 0,
                                data:
                                datar.nameList,
                                axisTick:
                                    {
                                        alignWithLabel: true
                                    }
                                ,
                                axisLine: {
                                    lineStyle: {
                                        color: '#000000'
                                    }
                                }
                                ,
                                axisLabel: {
                                    show: true,
                                    color:
                                        'rgb(170,170,170)',
                                    fontSize:
                                        16
                                }
                            }],
                            yAxis: [{
                                type: 'value',

                                gridIndex: 0,
                                splitLine: {
                                    show: false
                                },
                                axisTick: {
                                    show: false
                                },
                                max: 1,
                                axisLine: {
                                    lineStyle: {
                                        color: '#000000'
                                    }
                                },
                                axisLabel: {
                                    color: 'rgb(170,170,170)',
                                    formatter: '{value} '
                                }
                            }
                            ],
                            series:
                                [{
                                    name: '完成比',
                                    type: 'bar',
                                    barWidth: '30%',
                                    xAxisIndex: 0,
                                    yAxisIndex: 0,
                                    itemStyle: {
                                        normal: {
                                            // barBorderRadius: 30,
                                            color: new echarts.graphic.LinearGradient(
                                                0, 0, 0, 1, [{
                                                    offset: 0,
                                                    color: '#0253bf'
                                                },
                                                    {
                                                        offset: 0.5,
                                                        color: '#027eff'
                                                    },
                                                    {
                                                        offset: 1,
                                                        color: '#0284ff'
                                                    }
                                                ]
                                            )
                                        }
                                    },
                                    data: datar.tagNumList,
                                    zlevel: 11,
                                    markLine: {
                                        symbol: 'none',
                                        data: [{
                                            name: "目标值",
                                            yAxis: 1,
                                            lineStyle: {
                                                color: "#ee2e00"
                                            }
                                        }]
                                    }

                                }
                                ]
                        }
                    ;
                    myChart.setOption(option);
                }
            });

            function usersData(datar) {
                var nameList = [];
                var tagNumList = [];
                var taskName = datar[0]["taskName"];
                var teamName = datar[0]["teamName"];
                $.each(datar, function(i, item){
                    nameList.push(item["userName"]);
                    tagNumList.push((item["tagNum"] / item["corpusSize"]).toFixed(3));
                });

                return {
                    nameList: nameList,
                    tagNumList: tagNumList,
                    taskName: taskName,
                    teamName: teamName
                };
            }

        });
    </script>
</body>
</html>