<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <base th:href="@{/}">
    <link href="img/logo.png" rel="icon">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="css/bootstrap-fileinput/fileinput.css" rel="stylesheet">
    <link href="css/bootstrap-fileinput/themes/explorer-fas/theme.css" rel="stylesheet">

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap-fileinput/fileinput.js"></script>
    <script src="js/bootstrap-fileinput/themes/fas/theme.js"></script>
    <script src="js/bootstrap-fileinput/themes/explorer-fas/theme.js"></script>
    <script src="js/bootstrap-fileinput/locales/zh.js"></script>
    <script src="js/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="js/bootbox.min.js"></script>
    <style>
    </style>
    <title>上传资源</title>
    <script>
        $(function () {
            initUpload('/upload');

            $("#builtTask").change(function () {
                $("#taskName").val($(this).find("option:selected").text());
            });
        });

        function getFileType(path) {
            return path.substring(path.lastIndexOf('.')+1, path.length).toLowerCase();
        }

        function initUpload(url){
            $("#uploadFile").fileinput({  //初始化上传控件
                language: 'zh',    // 中文显示
                uploadUrl: url,
                uploadExtraData: function () {   //以函数形式传，不要直接写JSON格式
                    var taskName = $.trim($("#taskName").val());
                    var dataType = $("#dataType").val();
                    var tags = $.trim($("#tags").val());
                    return {'taskName': taskName, 'dataType': dataType, 'tags': tags};
                },
                showUpload: false,
                showCaption: true,          // 显示文件文本框
                showPreview: false,         // 是否显示预览
                dropZoneEnabled: false,    // 是否可拖拽
//                uploadLabel: '上传附件',    // 上传按钮内容
//                browseLabel: '选择附件',    // 浏览按钮内容
                hideThumbnailContent: true, // 是否隐藏文件内容
                allowedFileExtensions: ['txt', 'csv', 'zip', 'json'],
                // textEncoding: 'GBK',
                maxFileCount: 1,
                minFileCount: 1,
                maxFileSize: 20000,  //单位KB，20M
//                minFileSize: 1,
                fileActionSettings: {                                // 在预览窗口中为新选择的文件缩略图设置文件操作的对象配置
                    showRemove: false,                                 // 显示删除按钮
                    showUpload: false,                                // 显示上传按钮
                    showDownload: false,                             // 显示下载按钮
                    showZoom: false,                                   // 显示预览按钮
                    showDrag: false,                                   // 显示拖拽
                    // removeIcon: '<i class="fa fa-trash"></i>',       // 删除图标
                    // uploadIcon: '<i class="fa fa-upload"></i>',      // 上传图标
                    // uploadRetryIcon: '<i class="fa fa-repeat"></i>'  // 重试图标
                }
            }).on("fileuploaderror", function(event, data, msg){
                bootbox.alert({
                    title: 'Error',
                    className: 'rubberBand animated',
                    message: "文件上传失败！\n\n"+msg
                });
            }).on("fileuploaded", function(event, data, previewId, index) {
                // 创建的任务已存在或同名任务上传的格式不对
                if (data.response.code === 203 || data.response.code === 204) {
                    bootbox.alert({
                        title: 'Error',
                        className: 'rubberBand animated',
                        message: data.response.message
                    });
                } else{
                    bootbox.alert({
                        title: 'Successful',
                        className: 'rubberBand animated',
                        message: '任务创建成功！'
                    });
                }
            }).on("filebatchselected", function(event, files) {
                // 上传json格式化文件，则不需要输入标签集
                var fileName = files[0].name;
                if(getFileType(fileName) === 'json'){
                    $("#tags").attr("disabled", true);
                } else{
                    $("#tags").attr("disabled", false);
                }
            });
        }

        function validate() {
            var taskName = $.trim($("#taskName").val());
            var tags = $.trim($("#tags").val());
            var fileName = $("#uploadFile").val();  //获取上传文件的文件路径
            var type = $("#dataType").val();

            if (taskName === ""){
                alert('任务名不能为空！');
                return false;
            }

            if (type==null || type === ""){
                alert('请添加标注的数据类型！');
                return false;
            }

            // 如果是json格式的文件则不用校验标签格式
            if (getFileType(fileName) === 'json'){
                return true;
            }

            // 标签校验
            if (tags === ""){
                alert('标签值不能为空！');
                return false;
            }

            // var eng_reg = /^[\w;]+\w+$/gm;   //匹配英文
            // var ch_reg = /^[\u4E00-\u9FFF;]+[\u4E00-\u9FFF]+$/gm;  //匹配中文
            // if (eng_reg.test(tags) || ch_reg.test(tags)){
            //     return true
            // }else {
            //     alert('标签值格式有误！');
            //     return false;
            // }

            return true;
        }

        function submitAll() {
            if (validate()){
                $("#uploadFile").fileinput("upload");  //触发文件提交
            }
        }

    </script>
</head>
<body>
<div class="container" style="margin-top:50px; min-height: 800px;">
    <div>
        <div class="form-group">
            <label for="taskName">标注任务：</label>
            <div class="form-inline">
                <input type="text" class="form-control" placeholder="请命名待标注的任务" id="taskName" maxlength="20"/>&nbsp;&nbsp;
                <select class="form-control" id="builtTask">
                    <option selected disabled>--已创建的任务--</option>
                    <option th:each="task: ${builtTasks}" th:text="${task}" th:value="${task}">暂无</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="dataType">数据类型：</label>
            <select class="form-control" id="dataType">
                <option th:each="type: ${dataTypes}" th:text="${type.typeName}" th:value="${type.id}">暂无</option>
            </select>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <span style="color: #ff0000">
                <strong>
                    注：管理员标注请上传原始文件(txt/csv/zip)，普通用户标注请上传json格式化文件！
                </strong>
            </span>
        </div>
        <div class="card-body">
            <div id="upload_data">
                <div id="file_pane">
                    <form id="fileForm" enctype="multipart/form-data">
                        <input type="file" class="file-loading" id="uploadFile" name="file" data-theme="fas">
                    </form>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <label for="tags">标签设置：</label>
<!--                <textarea class="form-control" rows="5" id="tags" placeholder="标签值用英文;隔开，如：正面;中立;负面"></textarea>-->
                <textarea class="form-control" rows="5" id="tags" placeholder="注意: 每行一个标签"></textarea>
            </div>
        </div>
    </div>
    <div style="padding-top: 20px; text-align: center;">
        <button type="button" class="btn btn-primary btn-lg" onclick="submitAll()">提交</button>
    </div>
</div>
</body>
</html>
