<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labeling.demo.repository.InstanceMapper">
  <resultMap id="BaseResultMap" type="com.labeling.demo.entity.Instance">
    <constructor>
      <idArg column="instanceId" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="taskId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="defaultTag" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expertTag" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="modelTag" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tagNum" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.labeling.demo.entity.Instance">
    <constructor>
      <idArg column="instanceId" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="taskId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="defaultTag" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expertTag" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="modelTag" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tagNum" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="item" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    instanceId, taskId, defaultTag, expertTag, modelTag, status, tagNum
  </sql>
  <sql id="Blob_Column_List">
    item
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_instance
    where instanceId = #{instanceId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_instance
    where instanceId = #{instanceId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.labeling.demo.entity.Instance">
    insert into tb_instance (instanceId, taskId, defaultTag, 
      expertTag, modelTag, status, 
      tagNum, item)
    values (#{instanceId,jdbcType=BIGINT}, #{taskId,jdbcType=INTEGER}, #{defaultTag,jdbcType=VARCHAR}, 
      #{expertTag,jdbcType=VARCHAR}, #{modelTag,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{tagNum,jdbcType=INTEGER}, #{item,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.labeling.demo.entity.Instance">
    insert into tb_instance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="instanceId != null">
        instanceId,
      </if>
      <if test="taskId != null">
        taskId,
      </if>
      <if test="defaultTag != null">
        defaultTag,
      </if>
      <if test="expertTag != null">
        expertTag,
      </if>
      <if test="modelTag != null">
        modelTag,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="tagNum != null">
        tagNum,
      </if>
      <if test="item != null">
        item,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="instanceId != null">
        #{instanceId,jdbcType=BIGINT},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="defaultTag != null">
        #{defaultTag,jdbcType=VARCHAR},
      </if>
      <if test="expertTag != null">
        #{expertTag,jdbcType=VARCHAR},
      </if>
      <if test="modelTag != null">
        #{modelTag,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tagNum != null">
        #{tagNum,jdbcType=INTEGER},
      </if>
      <if test="item != null">
        #{item,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.labeling.demo.entity.Instance">
    update tb_instance
    <set>
      <if test="taskId != null">
        taskId = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="defaultTag != null">
        defaultTag = #{defaultTag,jdbcType=VARCHAR},
      </if>
      <if test="expertTag != null">
        expertTag = #{expertTag,jdbcType=VARCHAR},
      </if>
      <if test="modelTag != null">
        modelTag = #{modelTag,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tagNum != null">
        tagNum = #{tagNum,jdbcType=INTEGER},
      </if>
      <if test="item != null">
        item = #{item,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where instanceId = #{instanceId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.labeling.demo.entity.Instance">
    update tb_instance
    set taskId = #{taskId,jdbcType=INTEGER},
      defaultTag = #{defaultTag,jdbcType=VARCHAR},
      expertTag = #{expertTag,jdbcType=VARCHAR},
      modelTag = #{modelTag,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      tagNum = #{tagNum,jdbcType=INTEGER},
      item = #{item,jdbcType=LONGVARCHAR}
    where instanceId = #{instanceId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.labeling.demo.entity.Instance">
    update tb_instance
    set taskId = #{taskId,jdbcType=INTEGER},
      defaultTag = #{defaultTag,jdbcType=VARCHAR},
      expertTag = #{expertTag,jdbcType=VARCHAR},
      modelTag = #{modelTag,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      tagNum = #{tagNum,jdbcType=INTEGER}
    where instanceId = #{instanceId,jdbcType=BIGINT}
  </update>

  <select id="findByPage" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_instance
    limit #{pager.offset}, #{pager.pageSize}
  </select>

  <select id="findPageDataByTaskId" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_instance WHERE taskId=#{taskId}
    limit #{pager.offset}, #{pager.pageSize}
  </select>

  <select id="findPageDataByTaskIdRand" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_instance as t1 join (select round(rand() * ((select max(instanceId) from tb_instance) - (select min(instanceId) from tb_instance)) + (select min(instanceId) from tb_instance)) as id) as t2
    WHERE taskId=#{taskId} and t1.instanceId >= t2.id order by t1.instanceId
    limit #{pager.offset}, #{pager.pageSize}
  </select>

  <!--<insert id="save" parameterType="com.labeling.demo.entity.Instance">-->
  <!--insert into tb_instance (instanceId, taskId, expertTag,-->
  <!--modelTag, status, tagNum,-->
  <!--item)-->
  <!--values (#{instanceId,jdbcType=BIGINT}, #{taskId,jdbcType=INTEGER}, #{expertTag,jdbcType=VARCHAR},-->
  <!--#{modelTag,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{tagNum,jdbcType=INTEGER},-->
  <!--#{item,jdbcType=LONGVARCHAR})-->
  <!--ON DUPLICATE KEY UPDATE-->
  <!--taskId = #{taskId,jdbcType=INTEGER},-->
  <!--expertTag = #{expertTag,jdbcType=VARCHAR},-->
  <!--modelTag = #{modelTag,jdbcType=VARCHAR},-->
  <!--tagNum = #{tagNum,jdbcType=INTEGER},-->
  <!--item = #{item,jdbcType=LONGVARCHAR},-->
  <!--status = #{status,jdbcType=INTEGER}-->
  <!--</insert>-->

  <insert id="save" parameterType="com.labeling.demo.entity.Instance">
    insert into tb_instance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="instanceId != null">
        instanceId,
      </if>
      <if test="taskId != null">
        taskId,
      </if>
      <if test="defaultTag != null">
        defaultTag,
      </if>
      <if test="expertTag != null">
        expertTag,
      </if>
      <if test="modelTag != null">
        modelTag,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="tagNum != null">
        tagNum,
      </if>
      <if test="item != null">
        item,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="instanceId != null">
        #{instanceId,jdbcType=BIGINT},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="defaultTag != null">
        #{defaultTag,jdbcType=VARCHAR},
      </if>
      <if test="expertTag != null">
        #{expertTag,jdbcType=VARCHAR},
      </if>
      <if test="modelTag != null">
        #{modelTag,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tagNum != null">
        #{tagNum,jdbcType=INTEGER},
      </if>
      <if test="item != null">
        #{item,jdbcType=LONGVARCHAR},
      </if>
    </trim>
    ON DUPLICATE KEY UPDATE
    <if test="instanceId != null">
      instanceId = #{instanceId,jdbcType=BIGINT}
    </if>
    <if test="taskId != null">
      ,taskId = #{taskId,jdbcType=INTEGER}
    </if>
    <if test="defaultTag != null">
      ,defaultTag = #{defaultTag,jdbcType=VARCHAR}
    </if>
    <if test="expertTag != null">
      ,expertTag = #{expertTag,jdbcType=VARCHAR}
    </if>
    <if test="modelTag != null">
      ,modelTag = #{modelTag,jdbcType=VARCHAR}
    </if>
    <if test="status != null">
      ,status = #{status,jdbcType=INTEGER}
    </if>
    <if test="tagNum != null">
      ,tagNum = #{tagNum,jdbcType=INTEGER}
    </if>
    <if test="item != null">
      ,item = #{item,jdbcType=LONGVARCHAR}
    </if>
  </insert>

  <!--<insert id="saveAll" parameterType="java.util.List">-->
  <!--insert into tb_instance(instanceId, taskId, item, expertTag, modelTag, status, tagNum)-->
  <!--values-->
  <!--<foreach collection="list" item="inst" index="index" separator=",">-->
  <!--(-->
  <!--#{inst.instanceId,jdbcType=BIGINT},-->
  <!--#{inst.taskId,jdbcType=VARCHAR},-->
  <!--#{inst.item,jdbcType=LONGVARCHAR},-->
  <!--#{inst.expertTag,jdbcType=VARCHAR},-->
  <!--#{inst.modelTag,jdbcType=VARCHAR},-->
  <!--#{inst.status,jdbcType=INTEGER},-->
  <!--#{inst.tagNum,jdbcType=INTEGER}-->
  <!--)-->
  <!--</foreach>-->
  <!--ON DUPLICATE KEY UPDATE-->
  <!--instanceId = values(instanceId),-->
  <!--taskId = values(taskId),-->
  <!--item = values(item),-->
  <!--expertTag = values(expertTag),-->
  <!--modelTag = values(modelTag),-->
  <!--status = values(status),-->
  <!--tagNum = values(tagNum)-->
  <!--</insert>-->

  <insert id="updateAll" parameterType="java.util.List">
    insert into tb_instance(instanceId, expertTag, modelTag)
    values
    <foreach collection="list" item="inst" index="index" separator=",">
      (
      #{inst.instanceId,jdbcType=BIGINT},
      #{inst.expertTag,jdbcType=VARCHAR},
      #{inst.modelTag,jdbcType=VARCHAR}
      )
    </foreach>
    ON DUPLICATE KEY UPDATE
    instanceId = values(instanceId),
    expertTag = values(expertTag),
    modelTag = values(modelTag)
  </insert>

  <insert id="saveAll" parameterType="java.util.List">
    insert into tb_instance (taskId, item, defaultTag, expertTag, modelTag, status, tagNum)
    values
    <foreach collection="list" item="inst" index="index" separator=",">
      (
      #{inst.taskId,jdbcType=INTEGER},
      #{inst.item,jdbcType=LONGVARCHAR},
      #{inst.defaultTag,jdbcType=VARCHAR},
      #{inst.expertTag,jdbcType=VARCHAR},
      #{inst.modelTag,jdbcType=VARCHAR},
      #{inst.status,jdbcType=INTEGER},
      #{inst.tagNum,jdbcType=INTEGER}
      )
    </foreach>
  </insert>

  <!--<insert id="saveAll" parameterType="java.util.List">-->
  <!--insert into tb_instance(instanceId, taskId, item, expertTag, modelTag, status, tagNum)-->
  <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
  <!--<if test="instanceId != null">-->
  <!--instanceId-->
  <!--</if>-->
  <!--<if test="taskId != null">-->
  <!--taskId,-->
  <!--</if>-->
  <!--<if test="expertTag != null">-->
  <!--expertTag,-->
  <!--</if>-->
  <!--<if test="modelTag != null">-->
  <!--modelTag,-->
  <!--</if>-->
  <!--<if test="status != null">-->
  <!--status,-->
  <!--</if>-->
  <!--<if test="tagNum != null">-->
  <!--tagNum,-->
  <!--</if>-->
  <!--<if test="item != null">-->
  <!--item,-->
  <!--</if>-->
  <!--</trim>-->
  <!--<foreach collection="list" item="inst" index="index" open="values" separator=",">-->
  <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
  <!--<if test="inst.instanceId != null">-->
  <!--#{inst.instanceId,jdbcType=BIGINT},-->
  <!--</if>-->
  <!--<if test="inst.taskId != null">-->
  <!--#{inst.taskId,jdbcType=VARCHAR},-->
  <!--</if>-->
  <!--<if test="inst.expertTag != null">-->
  <!--#{inst.expertTag,jdbcType=VARCHAR},-->
  <!--</if>-->
  <!--<if test="inst.modelTag != null">-->
  <!--#{inst.modelTag,jdbcType=VARCHAR},-->
  <!--</if>-->
  <!--<if test="inst.status != null">-->
  <!--#{inst.status,jdbcType=INTEGER},-->
  <!--</if>-->
  <!--<if test="inst.tagNum != null">-->
  <!--#{inst.tagNum,jdbcType=INTEGER},-->
  <!--</if>-->
  <!--<if test="inst.item != null">-->
  <!--#{inst.item,jdbcType=LONGVARCHAR},-->
  <!--</if>-->
  <!--</trim>-->
  <!--</foreach>-->
  <!--ON DUPLICATE KEY UPDATE-->
  <!--<trim suffixOverrides=",">-->
  <!--<if test="instanceId != null">-->
  <!--instanceId = values(instanceId),-->
  <!--</if>-->
  <!--<if test="taskId != null">-->
  <!--taskId = values(taskId),-->
  <!--</if>-->
  <!--<if test="expertTag != null">-->
  <!--expertTag = values(expertTag),-->
  <!--</if>-->
  <!--<if test="modelTag != null">-->
  <!--modelTag = values(modelTag),-->
  <!--</if>-->
  <!--<if test="status != null">-->
  <!--status = values(status),-->
  <!--</if>-->
  <!--<if test="tagNum != null">-->
  <!--tagNum = values(tagNum),-->
  <!--</if>-->
  <!--<if test="item != null">-->
  <!--item = values(item),-->
  <!--</if>-->
  <!--</trim>-->
  <!--</insert>-->
</mapper>