<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labeling.demo.repository.InstanceUserMapper">
  <resultMap id="BaseResultMap" type="com.labeling.demo.entity.InstanceUser">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="instanceId" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="tag" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="taskname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="tagTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, username, instanceId, tag, taskname, tagTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_instance_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_instance_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.labeling.demo.entity.InstanceUser">
    insert into tb_instance_user (id, username, instanceId, 
      tag, taskname, tagTime
      )
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{instanceId,jdbcType=BIGINT}, 
      #{tag,jdbcType=VARCHAR}, #{taskname,jdbcType=VARCHAR}, #{tagTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.labeling.demo.entity.InstanceUser">
    insert into tb_instance_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="instanceId != null">
        instanceId,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="taskname != null">
        taskname,
      </if>
      <if test="tagTime != null">
        tagTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="instanceId != null">
        #{instanceId,jdbcType=BIGINT},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="taskname != null">
        #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="tagTime != null">
        #{tagTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.labeling.demo.entity.InstanceUser">
    update tb_instance_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="instanceId != null">
        instanceId = #{instanceId,jdbcType=BIGINT},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="taskname != null">
        taskname = #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="tagTime != null">
        tagTime = #{tagTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.labeling.demo.entity.InstanceUser">
    update tb_instance_user
    set username = #{username,jdbcType=VARCHAR},
      instanceId = #{instanceId,jdbcType=BIGINT},
      tag = #{tag,jdbcType=VARCHAR},
      taskname = #{taskname,jdbcType=VARCHAR},
      tagTime = #{tagTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_instance_user WHERE username = #{username}
    limit #{pager.offset}, #{pager.pageSize}
  </select>

  <insert id="save" parameterType="com.labeling.demo.entity.InstanceUser">
    insert into tb_instance_user (id, username, taskname, instanceId, tag)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{taskname, jdbcType=VARCHAR}, #{instanceId,jdbcType=INTEGER},
      #{tag,jdbcType=VARCHAR})
    ON DUPLICATE KEY UPDATE
    instanceId = #{instanceId,jdbcType=BIGINT},
    username = #{username,jdbcType=VARCHAR},
    taskname = #{taskname,jdbcType=VARCHAR},
    tag = #{tag,jdbcType=VARCHAR}
  </insert>
</mapper>