<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labeling.demo.repository.TaskMapper">
  <resultMap id="BaseResultMap" type="com.labeling.demo.entity.Task">
    <constructor>
      <idArg column="taskname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="datatype" javaType="java.lang.Short" jdbcType="SMALLINT" />
      <arg column="corpussize" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tags" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    taskname, datatype, corpussize, tags, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_task
    where taskname = #{taskname,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_task
    where taskname = #{taskname,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.labeling.demo.entity.Task">
    insert into tb_task (taskname, datatype, corpussize, 
      tags, status)
    values (#{taskname,jdbcType=VARCHAR}, #{datatype,jdbcType=SMALLINT}, #{corpussize,jdbcType=INTEGER}, 
      #{tags,jdbcType=VARCHAR}, #{status,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.labeling.demo.entity.Task">
    insert into tb_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskname != null">
        taskname,
      </if>
      <if test="datatype != null">
        datatype,
      </if>
      <if test="corpussize != null">
        corpussize,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskname != null">
        #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="datatype != null">
        #{datatype,jdbcType=SMALLINT},
      </if>
      <if test="corpussize != null">
        #{corpussize,jdbcType=INTEGER},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.labeling.demo.entity.Task">
    update tb_task
    <set>
      <if test="datatype != null">
        datatype = #{datatype,jdbcType=SMALLINT},
      </if>
      <if test="corpussize != null">
        corpussize = #{corpussize,jdbcType=INTEGER},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where taskname = #{taskname,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.labeling.demo.entity.Task">
    update tb_task
    set datatype = #{datatype,jdbcType=SMALLINT},
      corpussize = #{corpussize,jdbcType=INTEGER},
      tags = #{tags,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT}
    where taskname = #{taskname,jdbcType=VARCHAR}
  </update>
</mapper>