<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labeling.demo.repository.TaskMapper">
  <resultMap id="BaseResultMap" type="com.labeling.demo.entity.Task">
    <constructor>
      <idArg column="taskId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="taskname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="datatype" javaType="java.lang.Short" jdbcType="SMALLINT" />
      <arg column="corpussize" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tags" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="itemSeparator" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expertname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    taskId, taskname, datatype, corpussize, tags, itemSeparator, expertname, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_task
    where taskId = #{taskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_task
    where taskId = #{taskId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="taskId" parameterType="com.labeling.demo.entity.Task">
    insert into tb_task (taskId, taskname, datatype, 
      corpussize, tags, itemSeparator, 
      expertname, status)
    values (#{taskId,jdbcType=INTEGER}, #{taskname,jdbcType=VARCHAR}, #{datatype,jdbcType=SMALLINT}, 
      #{corpussize,jdbcType=INTEGER}, #{tags,jdbcType=VARCHAR}, #{itemSeparator,jdbcType=VARCHAR}, 
      #{expertname,jdbcType=VARCHAR}, #{status,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="taskId" parameterType="com.labeling.demo.entity.Task">
    insert into tb_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        taskId,
      </if>
      <if test="taskname != null">
        taskname,
      </if>
      <if test="datatype != null">
        datatype,
      </if>
      <if test="corpussize != null">
        corpussize,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="itemSeparator != null">
        itemSeparator,
      </if>
      <if test="expertname != null">
        expertname,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="taskname != null">
        #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="datatype != null">
        #{datatype,jdbcType=SMALLINT},
      </if>
      <if test="corpussize != null">
        #{corpussize,jdbcType=INTEGER},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="itemSeparator != null">
        #{itemSeparator,jdbcType=VARCHAR},
      </if>
      <if test="expertname != null">
        #{expertname,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.labeling.demo.entity.Task">
    update tb_task
    <set>
      <if test="taskname != null">
        taskname = #{taskname,jdbcType=VARCHAR},
      </if>
      <if test="datatype != null">
        datatype = #{datatype,jdbcType=SMALLINT},
      </if>
      <if test="corpussize != null">
        corpussize = #{corpussize,jdbcType=INTEGER},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="itemSeparator != null">
        itemSeparator = #{itemSeparator,jdbcType=VARCHAR},
      </if>
      <if test="expertname != null">
        expertname = #{expertname,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where taskId = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.labeling.demo.entity.Task">
    update tb_task
    set taskname = #{taskname,jdbcType=VARCHAR},
      datatype = #{datatype,jdbcType=SMALLINT},
      corpussize = #{corpussize,jdbcType=INTEGER},
      tags = #{tags,jdbcType=VARCHAR},
      itemSeparator = #{itemSeparator,jdbcType=VARCHAR},
      expertname = #{expertname,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT}
    where taskId = #{taskId,jdbcType=INTEGER}
  </update>
</mapper>