<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labeling.demo.repository.TeamMapper">
  <resultMap id="BaseResultMap" type="com.labeling.demo.entity.Team">
    <constructor>
      <idArg column="teamId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="teamName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="taskId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="members" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="expertname" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    teamId, teamName, taskId, members, status, expertname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_team
    where teamId = #{teamId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_team
    where teamId = #{teamId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="teamId" parameterType="com.labeling.demo.entity.Team">
    insert into tb_team (teamId, teamName, taskId, 
      members, status, expertname
      )
    values (#{teamId,jdbcType=INTEGER}, #{teamName,jdbcType=VARCHAR}, #{taskId,jdbcType=INTEGER}, 
      #{members,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{expertname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="teamId" parameterType="com.labeling.demo.entity.Team">
    insert into tb_team
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teamId != null">
        teamId,
      </if>
      <if test="teamName != null">
        teamName,
      </if>
      <if test="taskId != null">
        taskId,
      </if>
      <if test="members != null">
        members,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="expertname != null">
        expertname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teamId != null">
        #{teamId,jdbcType=INTEGER},
      </if>
      <if test="teamName != null">
        #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="members != null">
        #{members,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="expertname != null">
        #{expertname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.labeling.demo.entity.Team">
    update tb_team
    <set>
      <if test="teamName != null">
        teamName = #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        taskId = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="members != null">
        members = #{members,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="expertname != null">
        expertname = #{expertname,jdbcType=VARCHAR},
      </if>
    </set>
    where teamId = #{teamId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.labeling.demo.entity.Team">
    update tb_team
    set teamName = #{teamName,jdbcType=VARCHAR},
      taskId = #{taskId,jdbcType=INTEGER},
      members = #{members,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      expertname = #{expertname,jdbcType=VARCHAR}
    where teamId = #{teamId,jdbcType=INTEGER}
  </update>
</mapper>